body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    color:aquamarine
}

header {
    background-color: #333;
    color: #291291;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('2.jpg');
    background-size:10cqmax;
    background-position: center;
    color: #f0e6e6;
    text-align:center;
    padding: 80px 0;
}

.portfolio{
background-image: url('');
background-size: cover;
background-position:unset;
color: #df0707;
text-align: center;
padding: 50px 0;
}
.about,
.contact {
    padding: 80px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}